<div class="row">
  <div id="search">
    <form ng-submit="getInputTerm(input.term)">
      <input type="text" ng-model=input.term value="" placeholder="Set location">
    </form>
    <button type="button" name="button" ng-click="getLocation()">get current location</button>
  </div>
</div>
<div class="row">
  <div class="four columns alllist">
    <p>{{current_place}}</p>
    <p>current temperature F:{{temp}}</p>
    <h1>Activities:</h1>
    <ul id="list_activities" >
      <li ng-repeat="activity in activities" >
        <p ng-click="activity_details(activity)">{{ activity.name }}</p>
      </li>
    </ul>
  </div>
  <div class="eight columns">
  <!-- <div class="row"></div> -->
  <div class="row">
    <div id="map"></div>
    <img ng-src="{{img}}" alt="">
    <p>{{ activity }}</p>
    <p>{{type}}</p>
    <p><a href="tel:{{phone}}">{{ phone }}</a></p>
    <p> <a ng-href="{{ googlemap }}" target="_black">{{ address }}</a></p>
    <p>{{distance}}</p>
    <p>{{rating}}</p>
    <img ng-src="{{ rating_img }}" alt="">
    <p><a ng-href="{{ url }}" target="_blank">{{ urltoyelp }}</a></p>
    <p>{{ website }}<a ng-href="http://{{web}}" target="_blank">{{web}}</a></p>
    <p>{{ snippet_text }}</p>


  </div>
  </div>
</div>
